.welcome-section-two{
    /* display: flex; */
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
strong{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal; 
}
.features-section{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}
.testimonials-section{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}
.cta-section{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}
.carousel-item{
    height: 150px;
    border-radius: 10px;
}
.image-fade{
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

body.light .join-us{
    background: linear-gradient(45deg, #8E706A, #755B6B, #0F3A90, #008888);
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
  }
  /* Gradient animation keyframes */
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  body.dark .join-us{
    background: linear-gradient(45deg, #39545B, #547562, #EA8E1D, #FF0000);
    background-size: 400% 400%;
    animation: gradientShift 20s ease infinite;
    transition: background-color 0.3s, color 0.3s;
  }

 /* theme */
 .floating-theme-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  }
  
  .floating-theme-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
  }
  