  @media (max-width: 768px) {
    .card-content h3 {
      font-size: 1em; 
    }
  
    .card-content p {
      font-size: 0.8em; 
    }
  }
/* Smaller grid for very small screens */
  @media (max-width: 576px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr); 
    }
  }
    .unbounded-uniquifier-p1 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  }
  .unbounded-uniquifier-h1 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 5px;
  align-items: stretch;
}

/* Section headers */
#animated-artworks,
#static-artworks {
  margin-top: 50px;
}
.unbounded-uniquifier-artwork {
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Scroll-to-top button */
.scroll-to-top {
  font-size: 2rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #EA8E1D;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s;
}
.scroll-to-top:hover {
  transform: scale(1.1);
  background-color: #EA8E1D;
  color: #fff;
}

/* Loading spinner */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Progress bar */
.progress-bar {
  width:fit-content;
  background-color: #EA8E1D;
}

.card-hover.expanded {
  max-height: none;
}

body.light .acc .theme {
  background:#ffffff;
  color:#212529;
}
body.dark .acc .theme{
  background:#212529;
  color:#ffffff;
}
/* Accordion-specific dark mode support */
body.light .accordion-header,
body.light .accordion-body {
  background: #f8f9fa;
  color: #212529;
  border-radius: 25px;
}

body.dark .accordion-header,
body.dark .accordion-body {
  background: #212529;
  color: #ffffff;
  border-radius: 5px;
}

body.dark .accordion-header:hover,
body.dark .accordion-body:hover {
  background: #212529f4;
}