/* HomePage.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Lilita+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rowdies:wght@300;400;700&family=Spicy+Rice&family=Unbounded:wght@200..900&display=swap');

/* fonts */
.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}
.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.unbounded-uniquifier-header {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.unbounded-uniquifier-p1 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}
.unbounded-uniquifier-p2 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

/* header */
.header-section {
    background-image: url('https://i.pinimg.com/originals/c7/b5/11/c7b511c3764c719ac4ef779b39fbfde0.gif');
    background-position: center;
    background-repeat: repeat-x;
    height: 500px;
    width: auto;
}
.header-section h1 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.header-section p {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

/* welcome section */
.welcome-button {
  background-color: #EA8E1D;
}
.welcome-button .whileHover{
  color: #39545B;
}
.welcome-section-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.Art-card {
  background-color: #EA8E1D;
  
}
