h1{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
h3{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal; 
}
/* p{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
} */
Button{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.profile-card{
    text-align: center;
}
.card-title{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.card-text{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}
.text-2{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
}

@media (max-width: 768px) {
    .card-content h3 {
      font-size: 1em; /* Reduce font size for smaller screens */
    }
  
    .card-content p {
      font-size: 0.8em; /* Adjust paragraph size for smaller screens */
    }
  }
/* Smaller grid for very small screens */
  @media (max-width: 576px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr); /* Single column on very small screens */
    }
  }
 body.dark .prof-delbutton{
  background: linear-gradient(45deg, #39545B, #547562, #EA8E1D, #FF0000);
  background-size: 400% 400%;
  animation: gradientShift 20s ease infinite;
  color: #212529;
  transition: background-color 0.3s, color 0.3s;
  }
  body.light .prof-delbutton{
    background: linear-gradient(45deg, #8E706A, #755B6B, #0F3A90, #008888);
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
  }

  body.light .prof-button{
    color: #ffffff;
    background-color: #212529;
    transition: background-color 0.3s, color 0.3s;
  }
  body.dark .prof-button{
    color: #212529;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
  }