/* nav bar css */
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Londrina+Sketch&display=swap');

.Navbar-header {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 450;
  font-style: normal;
  color: #EA8E1D;
  
}
.navbar-nav {
  display: flex;
  gap: 15px; 
}
/* .brand{
    color:#547562 ;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}
.brand2{
  color:#EA8E1D ;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
} */

/* .navbar .nav-link.active {
    font-weight: bold;
    color: #95c6a9;
  }
.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #363837;
    color: #EA8E1D;
    transform: scale(1.1);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
  }

  .navbar .dropdown-menu .dropdown-item.active{
    color: #EA8E1D;
    background-color: #363837;
    background-image: url('https://i.pinimg.com/564x/17/3b/23/173b2319c6ab7d62599110461bfe37fe.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
  } */

/* .navbar .nav-link {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
} */

/* .navbar .nav-link:hover {
  color: #95c6a9; 
  transform: scale(1.1); 
} */

/* .navbar .nav-link.active {
  color: #95c6a9;
  border-bottom: 3px solid #95c6a9; 
} */

.navbar-brand img {
  transition: transform 0.5s ease-in-out;
}

.navbar-brand img:hover {
  transform: rotate(360deg);
}

.collapse {
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
}

.collapse.show {
  max-height: 500px;
}
.navbar-collapse {
  padding-left: 20px; 
}

@media (max-width: 768px) {
  .navbar-collapse {
    margin-left: 20px; 
  }
  .navbar-nav {
    padding-left: 10px; 
  }
}
/* .custom-collapse-icon {
  border-color: transparent; 
  background-color: transparent; 
}

.custom-collapse-icon .navbar-toggler-icon {
  background-color: #28a745; 
  border-radius: 5px;
} */


  /* footer css */
  .footer-title{
    color: #95c6a9;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  .footer p{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  .footer a{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  .footer li{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
